*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    color-scheme: light dark;
    --clr-body: light-dark(#fafafa,#121212);
    --clr-txt: light-dark(#000000,#fafafa);
}

html,body{
    min-height: 100dvh;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--clr-body);
    color: var(--clr-txt);
}
header{
    padding: 1rem 1.25rem;
}
h1{
    font-size: clamp(1.25rem, 4vw, 2rem);
}
main{
    padding: 1rem 2rem;
}

h1,h2{
    font-family: monospace;
    text-wrap: balance;
}
img{
    inline-size: min(75%, 31.25rem);
    block-size: auto;
    margin: 0 auto;
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px solid light-dark(#333333,#fafafa);
    border-radius: 50%;
}
.wrapper{
    height: fit-content;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    container: sections / inline-size;
}
section{
    width: 100%;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    background: light-dark(rgba(0,0,0,0.05),rgba(255,255,255,0.05));
}
a{
    font-size: 1.5rem;
    text-decoration:none;
    text-decoration-color: #00ff6a;
}
p{
    text-wrap: pretty;
}
h2,p{
    text-align: center;
}
ul,ol,a{
    color: rgb(255, 0, 149);
}
li{
    margin-left: 1rem;
}
footer{
    padding: 2rem 0;
}

@media (min-width: 37.5rem) {
    main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@container sections (min-width: 453px){
    section{
        width: unset;
    }
    
}